<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  引入extjs库-->
    <!--
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-neptune/resources/theme-neptune-all.css" />
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-classic/resources/theme-classic-all.css" />
    -->
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-triton/resources/theme-triton-all.css" />
    <script type="text/javascript" src="/Extjs/ext.js"></script>
    <script type="text/javascript" src="/Extjs/ext-all-debug.js"></script>
    <!-- 加载EXTjs中文配置文件 -->
    <script type="text/javascript" src="/Extjs/locale/locale-zh_CN-debug.js"></script>

</head>

<body>
</body>

</html>


<script>
    Ext.onReady(function() {

        /* 创建tab页 */
        function createTab(container, item) {
            // console.log(item.data);
            Ext.Ajax.request({
                url: item.data.url,

                success: function(response, opts) {

                    // var obj = eval(response.responseText);
                    //  var btn = Ext.create('Ext.button.Button', {text: 'button'});
                    var tab = {
                        title: item.data.name,
                        closable: true,
                        Itemid: (item.data.id),
                        html: item.data.url,
                        //items: [obj]
                    };

                    container.add(tab).show();
                },

                failure: function(response, opts) {
                    console.log('server-side failure with status code ' + response.status);
                }
            });


        }


        var gongneng = {
            treeStore: Ext.create('Ext.data.TreeStore', {
                fields: ['id', 'name', 'url', 'pid'],
                proxy: {
                    url: '/rule/makeRuleTree',
                    type: 'ajax'
                }
            }),

        };
        var treePanel = Ext.create('Ext.tree.Panel', {
            region: 'west',
            xtype: 'treepanel',
            width: '20%',
            id: 'treepanel',
            rootVisible: false,
            store: gongneng.treeStore,
            displayField: 'name',
            // me: this,
            listeners: {
                // Fires when an item is clicked.
                itemclick: {
                    fn: function(treePanel, record, item, index, e, eOpts) {
                        if (record.data.leaf == true) {

                            var tab = Ext.getCmp(record.data.id);
                            // console.log(tab);
                            console.log(tab);
                            if (!tab) {
                                createTab(tabPanel, record);
                            } else {
                                tabPanel.setActiveTab(tab);
                            }

                            // createTab(tabPanel, record);

                        }
                    }
                }
            }
        });

        /*  右则主功能tab窗口 */
        var tabPanel = Ext.create('Ext.tab.Panel', {
            region: 'center',
            width: '80%',
            xtype: 'tabpanel',
            items: [{
                xtype: 'panel',
                closable: true,
                title: 'tab1',
                items: []

            }]
        });






        /* 创建主面板容器 */
        var mianContainer = Ext.create('Ext.panel.Panel', {
            width: '100%',
            height: 600,
            layout: 'border',
            renderTo: Ext.getBody(),
            // 主窗口框架
            items: [

                /* 框架头部  */
                {
                    region: 'north',
                    width: '100%',
                    height: 50,
                    layout: 'vbox',
                    split: true,
                    items: [{
                        xtype: 'label',
                        float: true,
                        align: 'right',
                        text: '<font size=25>国际业务信息查询系统<font>'
                    }, ]
                },

                // 左则功能菜单
                treePanel,
                // 中央内容
                tabPanel,


                // 底部版权信息
                {
                    region: 'south',
                    width: '100%',
                    // title: 'footer'
                },
            ]

        }).show();
    });
</script>