<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  引入extjs库-->
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-triton/resources/theme-triton-all.css" />
    <script type="text/javascript" src="/Extjs/ext.js"></script>
    <script type="text/javascript" src="/Extjs/ext-all.js"></script>
    <!-- 加载EXTjs中文配置文件 -->
    <script type="text/javascript" src="/Extjs/locale/locale-zh_CN-debug.js"></script>

</head>

<body>

</body>

</html>


<script>
    Ext.onReady(function() {

        /* 创建tab页 */
        function createTab(container, item) {

            var tab = {
                bufferedRenderer: false,
                animate: true,
                title: item.data.name,
                closable: true,
                // xtype: 'panel',
                id: 'tab' + item.data.id, //不能是纯数字的,所以加tab开头
                layout: "auto",
                loader: {
                    url: item.data.url,
                    autoLoad: true,
                    scripts: true
                },
                //  items: [tab.loader],
                //   renderTo: container

            };

            container.add(tab).show();

        };





        var gongneng = {
            treeStore: Ext.create('Ext.data.TreeStore', {
                fields: ['id', 'name', 'url', 'pid'],
                proxy: {
                    url: '/rule/makeRuleTree',
                    type: 'ajax'
                }
            }),

        };
        var treePanel = Ext.create('Ext.tree.Panel', {
            region: 'west',
            title: '功能菜单',
            bufferedRenderer: false,
            animate: true,
            reserveScrollbar: true,
            xtype: 'treepanel',
            width: 200,
            split: true,
            collapsible: true,
            id: 'treepanel',
            rootVisible: false,
            store: gongneng.treeStore,
            displayField: 'name',
            // me: this,
            listeners: {
                // Fires when an item is clicked.
                itemclick: {
                    fn: function(treePanel, record, item, index, e, eOpts) {
                        if (record.data.leaf == true) {

                            var tab = Ext.getCmp('tab' + record.data.id);
                            if (!tab) {
                                createTab(tabPanel, record);

                            } else {
                                tabPanel.setActiveTab(tab);
                            }
                            // createTab(tabPanel, record);

                        }
                    }
                }
            }
        });

        /*  右则主功能tab窗口 */
        var tabPanel = Ext.create('Ext.tab.Panel', {
            region: 'center',
            width: '80%',
            xtype: 'tabpanel',
            //plain: false,
            bufferedRenderer: false,
            animate: true,

            setPagePosition: 300,
            id: "tabPanel",
            tabBar: {
                layout: {
                    pack: 'left'
                }
            },
            items: [{
                xtype: 'panel',
                closable: true,
                title: 'tab1',
                items: []

            }]
        });






        /* 创建主面板容器 */
        var mianContainer = Ext.create('Ext.panel.Panel', {
            width: '100%',
            height: 600,
            layout: 'border',
            renderTo: Ext.getBody(),
            // 主窗口框架
            items: [

                /* 框架头部  */
                {
                    region: 'north',
                    width: '100%',
                    height: 50,
                    layout: 'vbox',
                    split: true,
                    items: [{
                        xtype: 'label',
                        float: true,
                        align: 'right',
                        text: '<font size=25>国际业务信息查询系统<font>'
                    }, ]
                },

                // 左则功能菜单
                treePanel,
                // 中央内容
                tabPanel,


                // 底部版权信息
                {
                    region: 'south',
                    width: '100%',
                    // title: 'footer'
                },
            ]

        }).show();
    });
</script>