<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!--  引入extjs库-->
	<!--
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-neptune/resources/theme-neptune-all.css" />
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-classic/resources/theme-classic-all.css" />
    -->
    <link rel="stylesheet" type="text/css" href="/Extjs/theme-triton/resources/theme-triton-all.css" />
	<script type="text/javascript" src="/Extjs/ext.js"></script>
	<script type="text/javascript" src="/Extjs/ext-all-debug.js"></script>
	<!-- 加载EXTjs中文配置文件 -->
	<script type="text/javascript" src="/Extjs/locale/locale-zh_CN-debug.js"></script>
	

	<title>欢迎使用国际业务信息查询系统</title>
</head>

<body>

</body>

</html>
<script>

Ext.onReady(function(){


// 用户添加窗口
var formPanel=Ext.create('Ext.form.Panel', {
   margin:'1 1 1 1',
    bodyPadding: 5,
    width: 398,
    height:315,
    defaultAlign:'c-c',

    // The form will submit an AJAX request to this URL when submitted
    url: '/users/addUser',

    // Fields will be arranged vertically, stretched to full width
    layout: 'auto',
    method:'post',


    defaultType: 'textfield',
    items: [
        {
        fieldLabel: '用户名称',
        labelWidth :100,
        width:380,
        name: 'name',
        allowBlank: false
    },
    {
        fieldLabel: '用户密码',
        labelWidth :100,
        width:380,
        inputType:'password',
        name: 'pw1',
        allowBlank: false
    },
        {
        fieldLabel: '确认密码',
        labelWidth :100,
        width:380,
        inputType:'password',
        name: 'pw2',
        allowBlank: false
    },
    {
        xtype: 'hiddenfield',
        name: 'password'
        //value: 'value from hidden field'
    }
    ],
    fbar:[
        {text:"添加用户",icon:'../../public/icons/user/user_add.png',defaultAlign:'right',listeners:{
            click:{
                fn:function(){

                    var user=formPanel.getForm().getValues();
                    if(user.pw1!=user.pw2){
                        console.log('两次输入的密码不一致');
                        alert('两次输入的密码不一致');
                        return;
                    }else{
                        user.password=user.pw1;
                    }
                    console.log(user);
            //提交用户删除请求到服务器
            Ext.Ajax.request({
            url: "/users/addUser",
            method: 'post',
            params: user ,
            success: function (response, opts) {
                if (''!= response.responseText) {
                    alert("返回信息:"+response.responseText);
                    userListStore.load();
                    return true;
                } else {
                     alert("没有返回信息:"+response.responseText);
                    return false;
                }
            },

            failure: function (response, opts) {
                return false;
            }
        });
                }
            }
        }
        },
    ]
    
    
   
});

    var window=Ext.create('Ext.window.Window',{
        title:"添加用户",
        defaultAlign :'c-c',
        width:400,
        height:360,
        x:30,
        y:10,
        items:[formPanel]
    });

  var userListStore=Ext.create('Ext.data.Store', {
    fields:[ 'id', 'name', 'password'], 
     proxy: {
        type: 'ajax',
        url : '/users/getAllUsers'
    }
  }).load();



//显示用户列表
var userListPanel=Ext.create('Ext.grid.Panel', {
    title: '用户列表',
    height: 500,
    width: 600,
    x:500,
    y:10,

   selModel: {
        type: 'rowmodel'
    },
     plugins: {
        ptype: 'cellediting',
        clicksToEdit: 1
    },
    store: userListStore,
    columns: [
        { text: 'id', dataIndex: 'id', editor:{xtype:'textfield'} } ,
        { text: 'name', dataIndex: 'name' },
        { text: 'password', dataIndex: 'password', editor:{xtype:'textfield'} },
        {text:'status',dataIndex:'status',
        editor:{
            xtype:'combo',
            store:[    
                ['1',1],
                ['0',0]
            ]
            }
        }
    ],

 tbar: [
{text:"删除用户",icon:'../../public/icons/user/user_delete.png',defaultAlign:'right',listeners:{
     click:{
         fn:function(){
             if(confirm("确定要删除选定的用户吗?")){
                   //取得表格中所有选取的记录
                var um1 = userListPanel.getSelectionModel();
                 console.log("um1 is :",um1);
                var um2=um1.getSelection();
                console.log("um2 is :",um2);
              
                var users=[];
                for(var item in um2){
                 
                    users.push(um2[item].data);
                }
              
                console.log("users is :",users);
                
             //提交用户删除请求到服务器
            Ext.Ajax.request({
            url: "/users/deleteUsers",
            method: 'post',
            params:{"user":JSON.stringify(users)},
            success: function (response, opts) {
                if (''!= response.responseText) {
                    alert("提交成功,返回信息:"+response.responseText);
                    userListStore.load();
                    return true;
                } else {
                    alert("没有返回信息:"+response.responseText);
                    return false;
                }
            },
            failure: function (response, opts) {
                return false;
            }
            });
             }else{

             }
              
         }
     }
 }},
{text:"添加用户",icon:'../../public/icons/user/user_add.png',defaultAlign:'right',listeners:{
     click:{
         fn:function(){
             //取得表格中所有选取的记录
           window.show();
         }
     }
 }},
{text:"保存修改",icon:'../../public/icons/user/user_edit.png',defaultAlign:'right',listeners:{
     click:{
         fn:function(){
        //取得表格中所有选取的记录
        var rows = userListPanel.getStore().getData().items;
        console.log('show',rows);
        var users=[];
        for(var item in rows){
         users.push(rows[item].data );
        }
    
        
        //提交修改用户请求到服务器
        Ext.Ajax.request({
        url: "/users/modifyUserInfo",
        method: 'post',
        params: {"user":JSON.stringify( users)} ,
        success: function (response, opts) {
            if (''!= response.responseText) {
                alert("返回信息:"+response.responseText);
                userListStore.load();
                return true;
            } else {
                alert("没有返信息 ：" + response.responseText);
                return false;
            }

        },

        failure: function (response, opts) {
            alert("返回错误 ：" + response.responseText);
            return false;
        }
    });

         }
     }
 }}
 
 ],
 buttonAlign: 'right',
    selType: 'checkboxmodel',
    renderTo: Ext.getBody()
});

});


</script>



