<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>欢迎使用国际业务信息查询系统</title>

    <script>
        Ext.onReady(function() {
            var userrolediv = Ext.get('userrolediv');

            /* 取得所有的用户 */
            var userRoleStore1 = Ext.create('Ext.data.Store', {
                fields: ['id', 'name'],
                proxy: {
                    url: '/users/getAllUsersNames',
                    type: 'ajax',

                },
                autoLoad: true,
            });

            /* 取得所有的角色 */
            var userRoleStore2 = Ext.create('Ext.data.Store', {
                fields: ['id', 'role_name'],
                proxy: {
                    url: '/roler/getAllRole',
                    type: 'ajax',
                },
                autoLoad: true,
            });

            /* 用户选择下拉列表 */
            var userlistCombo = Ext.create('Ext.form.field.ComboBox', {
                width: 300,
                margin: '10 10 10 10 ',
                fieldLabel: '用户名称:',
                renderTo: userrolediv,
                store: userRoleStore1,
                displayField: "name",
                valueField: "id",
                listeners: {
                    select: {
                        fn: function(userlistCombo, record, eOpts) {
                            alert(record.data.name);
                            alert(record.data.id);
                        }
                    }
                }
            });

            /* 角色选择 */
            /* Ext.ux.form.ItemSelector */
            // var roleSelector = Ext.create('Ext.ux.form.ItemSelector', {
            //     renderTo: userrolediv,
            //     width: "100%",
            //     height: 450,
            //     store: userRoleStore2,
            //     displayField: "role_name",
            //     valueField: "id"
            // });



        });
    </script>
</head>

<body>
    <div id="userrolediv"></div>
</body>

</html>